@page
@model Jakub_Zajega_14987.AdminUI.Pages.CreatePostModel
@{
    ViewData["Title"] = "Nowy Post";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="NewPost.Title" class="form-label"></label>
                <input asp-for="NewPost.Title" class="form-control" />
                <span asp-validation-for="NewPost.Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="NewPost.Content" class="form-label"></label>
                <textarea asp-for="NewPost.Content" class="form-control" rows="5"></textarea>
                <span asp-validation-for="NewPost.Content" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Utwórz Post</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}